.pager-basic-skin {
  padding: 0.3rem;
}

.pager-basic-skin a {
  padding: 0.2rem;
  margin: 0.1rem;
  text-decoration: none;
}

.pager-basic-skin a.current {
  color: black;
  font-weight: bold;
}

.pager-basic-skin .arrow {
  position: relative;
  top: -1px;
  font-size: 125%;
  color: black;
}

.pager-basic-skin .arrow:hover {
  color: blue;
}

.pager-dots-skin {
  padding: 0.3rem;
}

.pager-dots-skin a {
  position: relative;
  display: inline-block;
  margin: 0.2rem;
  text-decoration: none;
  border: 1px solid #222;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 12px;
  width: 12px;
}

.pager-dots-skin a:hover {
  border-width: 2px;
  height: 10px;
  width: 10px;
}

.pager-dots-skin .dot {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

.pager-dots-skin .current .dot {
  background-color: black;
}

.pager-numeric-skin a {
  padding: 0.2rem;
  margin: 0.1rem;
  text-decoration: none;
  color: black;
  font-size: 125%;
  top: -1px;
}

.pager-numeric-skin .arrow:hover {
  color: blue;
}

